<nav class="navbar navbar-static-top lite">
    <div class="nav-header">
        <div class="navbar-header">
            <div class="navbar-title">
                <a class="navbar-brand" target="_blank" href="../../index.html">
                    <img class="project-logo" src="../../logo.png" style="visibility: visible;" id="logo">
                    <span class="project-title vm" id="title">Fantasy 3D</span>
                    <span style="vertical-align:super; font-size:14px; color:#ffffff; margin-left:5px;" id="version">{{nav.version}}</span>
                </a>
                <div id="suffix-title"></div>
                <a  class="navbar-brand" target="_blank" href="../../api/index.html"  style="font-size:8px; color:#ffffff; vertical-align: center" >
                    <span  id="doc">API</span>
                </a>
                <div id="suffix-title"></div>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
</nav>

